body{BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 10px; FONT-FAMILY: "ו", "Times New Roman"; COLOR: #003399; FONT-SIZE: 75%;}
.margin_left_10px{margin-left:10px;}
.container{ width:640px; margin-top:50px;}
.class_page_select_item {LINE-HEIGHT: 24px; FLOAT: left; HEIGHT: 24px; MARGIN-LEFT: 4px;}
.title{width:642px; *width:640px; height:24px; float:left; text-align:left; background-color:#0099cc;}
.title_left{width:7px; height:24px; float:left; }
.title_right{width:497px; *width:495px; height:24px; line-height:24px; float:left; color:white;  FONT-SIZE: 12px; }
.div_main{width:640px; border-left:1px solid #ff9933; border-right:1px solid #ff9933; border-bottom:1px solid #ff9933; background-color:#f5f5f5;}
.class_row { WIDTH: 638px; FLOAT: none; BORDER-TOP: gray 1px solid; overflow:hidden;}
.class_col1 {TEXT-ALIGN: center; WIDTH: 40px; FLOAT: left; line-height:18px;}
.class_col2 {BORDER-LEFT: gray 1px solid; WIDTH: 596px; FLOAT: left; text-align:left; line-height:18px;}
.class_row1 {WIDTH: 638px; FLOAT: none; BORDER-TOP: gray 1px solid; }
.class_r1c1 {TEXT-ALIGN: center; WIDTH: 636px;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
.class_page_select_item{padding-left:15px; padding-right:15px; height:18px; line-height:18px; float:left; text-align:center; border:1px solid #E1E2E3; margin-right:5px; cursor:pointer; } 
.class_page_select_item_selected{padding-left:15px; padding-right:15px; height:18px; line-height:18px; float:left; text-align:center; margin-right:5px; cursor:pointer; }
.class_page_select_item:hover{padding-left:15px; padding-right:15px; height:18px; line-height:18px; float:left; text-align:center; border:1px solid blue; margin-right:5px; cursor:pointer; background-color:#E1E2E3;}
~
